# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Caches and tests
.pytest_cache/
.coverage
htmlcov/

# Virtual Environments
venv/
env/
ENV/
.env

# Local Databases
*.db
*.sqlite3

# Node & Frontend
node_modules/
dist/
dist-ssr/
*.local
.vite/

# OS / Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/
